:root {
	/* Navbar's color */
	--clr-lightBlue: #5fdde5;
	--clr-darkerBlue: #01c2cb;
	--clr-mediumBlue: #15ced8;
	--clr-lightOrange: #ffbd69;
	--clr-darkOrange: #f37121;
	--clr-footerBlack: #1d242c;
	--clr-footerWhite: #eeeeee;
	/* Card color */
	--clr-doneBlue: #2485cf;
	--clr-importanceBlue: #0962a7;
	--clr-undoRed: #ff5757;
	--clr-logoutRed: #f38181;
	--clr-importanceRed: #ee1111;
	--ff-formText: "Trebuchet MS", Helvetica, sans-serif;
	--ff-noteText: "Roboto", sans-serif;
	--ff-timeline: "Montserrat", sans-serif;
}

h1 {
	cursor: default;
}

p {
	cursor: default;
}

.home {
	background-color: var(--clr-footerBlack);
	width: 100%;
	height: 100vh;
}

.home-circle-top,
.home-circle-bottom {
	width: 15rem;
	height: 15rem;
	position: absolute;
}

.home-circle-top {
	border-radius: 0 0 15rem 0;
	-moz-border-radius: 0 0 15rem 0;
	-webkit-border-radius: 0 0 15rem 0;
}

.home-circle-bottom {
	border-radius: 15rem 0 0 0;
	-moz-border-radius: 15rem 0 0 0;
	-webkit-border-radius: 15rem 0 0 0;
}

.home-circle-top {
	background-color: #8bd4ab;
	top: 0;
	left: 0;
}

.home-circle-bottom {
	background-color: #e94759;
	bottom: 0;
	right: 0;
}

@media screen and (min-width: 56rem) {
	.home-circle-top,
	.home-circle-bottom {
		width: 18rem;
		height: 18rem;
		position: absolute;
	}

	.home-circle-top {
		border-radius: 0 0 18rem 0;
		-moz-border-radius: 0 0 18rem 0;
		-webkit-border-radius: 0 0 18rem 0;
	}

	.home-circle-bottom {
		border-radius: 18rem 0 0 0;
		-moz-border-radius: 18rem 0 0 0;
		-webkit-border-radius: 18rem 0 0 0;
	}
}

@media screen and (min-width: 100rem) {
	.home-circle-top,
	.home-circle-bottom {
		width: 25rem;
		height: 25rem;
		position: absolute;
	}

	.home-circle-top {
		border-radius: 0 0 25rem 0;
		-moz-border-radius: 0 0 25rem 0;
		-webkit-border-radius: 0 0 25rem 0;
	}

	.home-circle-bottom {
		border-radius: 25rem 0 0 0;
		-moz-border-radius: 25rem 0 0 0;
		-webkit-border-radius: 25rem 0 0 0;
	}
}

.home span {
	font-family: var(--ff-timeline);
	font-size: 5rem;
	font-weight: 650;
	color: white;
	padding-top: 3rem;
}

.home a {
	background-color: var(--clr-doneBlue);
	color: white;
	font-family: var(--ff-timeline);
	font-size: 1.6rem;
	font-weight: 530;
	padding: 0.8rem;
	border-radius: 1rem;
	width: 13rem;
	text-align: center;
	margin: 3rem auto;
}

.home .todolist-button-authenticate {
	width: 15rem;
}

.home a:hover {
	color: white;
}

.home img {
	width: 13rem;
}

.todolist-title {
	display: flex;
	flex-direction: column;
	justify-content: center;
	padding-top: 20rem;
	align-items: center;
}

@media screen and (min-width: 56rem) {
	.todolist-title {
		display: flex;
		flex-direction: row;
	}

	.home img {
		width: 18rem;
	}

	.home span {
		font-size: 8rem;
		padding-left: 2rem;
	}

	.home a {
		margin-left: 2rem;
		margin-top: 3rem;
		font-size: 2rem;
	}
}

@media screen and (min-width: 40rem) {
	.home img {
		width: 15rem;
	}
	.home span {
		font-size: 6rem;
	}
	.home a {
		font-size: 1.8rem;
		padding: 1rem;
	}
}

.todolist-title-button {
	display: flex;
	flex-direction: column;
	justify-content: center;
	text-align: center;
}

.todolist-info {
	background-color: #e94759;
	height: 100vh;
	width: 100%;
}

.todolist-info p {
	padding-top: 10rem;
	color: #f5e753;
	font-size: 2.5rem;
	font-weight: 550;
	letter-spacing: 0.1rem;
}

.todolist-info ul {
	width: 70%;
}

.todolist-info ul li {
	color: white;
	font-size: 1.5rem;
	line-height: 2.5rem;
	padding: 1rem;
}

@media screen and (min-width: 70rem) {
	.todolist-info p {
		font-size: 3rem;
	}
	.todolist-info ul {
		width: 80%;
	}
	.todolist-info ul li {
		font-size: 1.8rem;
	}
}

.card-info {
	width: 100%;
	height: 100vh;
	background-color: #8bd4ab;
	/* background-color: var(--clr-footerBlack); */
	display: flex;
	flex-direction: column;
	align-items: center;
	padding-bottom: 1rem;
}

.card-info-delete {
	opacity: 0;
	transition: opacity 0.5s;
}

.card-info span {
	margin-left: 1rem;
	font-family: var(--ff-timeline);
	color: black;
	font-size: 1.3rem;
}

.card-content {
	background-color: white;
	padding: 1rem;
	margin-top: 4rem;
	border-radius: 0.5rem;
	box-shadow: 0.5rem 0.5rem 0.3rem rgba(0, 0, 0, 0.2);
	font-size: 1.2rem;
	font-family: sans-serif;
	width: 30rem;
}

.card-content tr td:nth-child(1) {
	text-align: center;
}

.card-content tr:nth-child(2) td:nth-child(1) {
	color: var(--clr-undoRed);
	font-family: Impact, Charcoal, sans-serif;
	font-size: 1.5rem;
}

.card-content td {
	padding: 0.8rem 0.5rem;
	padding-left: 1rem;
}

.card-content .fa-home {
	color: white;
	background-color: var(--clr-darkerBlue);
	border-radius: 50%;
	width: 2rem !important;
	height: 2rem !important;
	padding: 0.3rem;
	transform: rotateY(180deg);
}

.card-content .fa-check {
	color: var(--clr-doneBlue);
}

@media screen and (min-width: 60rem) {
	.card-info {
		flex-direction: row;
		flex-wrap: wrap;
		justify-content: flex-start;
		align-items: flex-start;
	}

	.card-info-details {
		width: 40rem;
	}

	.card-info span {
		font-size: 1.5rem;
	}
}

/* ------------------------------------------------------- */

/* Navbar */

.navbar {
	background-color: var(--clr-lightBlue);
	/* background-color: transparent; */
}

.nav-link {
	color: white !important;
	font-weight: 500;
	font-size: large;
}

.register {
	margin-right: 2rem;
}

.navbar-brand {
	color: white;
	margin-left: 2rem;
}

.navbar-brand:hover {
	color: white;
}

.nav-auth-button {
	background-color: #08d9d6;
	padding: 1px;
	border-radius: 10px !important;
	box-shadow: 0 3px 0 rgba(24, 44, 46, 0.1);
	margin-right: 1rem;
}

.nav-logout {
	background-color: var(--clr-undoRed);
}

nav span {
	font-size: 2.2rem;
	font-weight: 550;
	font-family: var(--ff-timeline);
	left: 0;
	position: absolute;
	width: 100%;
	text-align: center;
	color: white;
	letter-spacing: 0.1rem;
	z-index: 0;
}

.navbar-nav,
.navbar-brand {
	z-index: 1;
}

.nav-todos,
.nav-timeline {
	border-bottom: 5px solid var(--clr-darkerBlue);
}

/* ------------------------------------------------------- */

/* Footer */

.footer-container {
	width: 100%;
	height: 20vh;
	background-color: var(--clr-footerBlack);
	text-align: center;
	padding: 1rem;
	position: relative;
}

.fa-linkedin,
.fa-github-square,
.fa-map-marker-alt,
.fa-envelope {
	color: var(--clr-footerWhite);
	margin-top: 1rem;
}

.fa-linkedin,
.fa-github-square {
	margin-right: 1rem;
}

.fa-map-marker-alt,
.fa-envelope {
	margin-right: 0.5rem;
}

.fa-envelope {
	margin-top: 2rem;
}

.footer-container span {
	color: var(--clr-footerWhite);
	font-size: medium;
	letter-spacing: 0.02rem;
}

/* ------------------------------------------------------- */

/* appForm */

.appForm {
	margin-top: 5rem;
	width: 30% !important;
	min-width: 35rem;
}

label {
	font-weight: 500;
	font-family: var(--ff-formText);
}

.login-label {
	color: var(--clr-lightBlue) !important;
}

.register-label {
	color: var(--clr-lightOrange) !important;
}

.login-button {
	background-color: #00c2cb !important;
	color: white !important;
}

.register-button {
	background-color: var(--clr-lightOrange) !important;
	color: white !important;
}

.card-section {
	box-shadow: 0 2px 5px rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
}

.card-header-login {
	margin-top: -40px;
	height: 5rem;
	background: linear-gradient(-90deg, rgb(60, 211, 148), rgb(95, 221, 229));
	box-shadow: 1px 5px 15px #a2a2a2;
	border-radius: 0.8rem;
}

.card-header-register {
	margin-top: -40px;
	height: 5rem;
	background: linear-gradient(
		-90deg,
		var(--clr-darkOrange),
		var(--clr-lightOrange)
	);
	box-shadow: 1px 5px 15px #a2a2a2;
	border-radius: 0.8rem;
}

.card-header-title {
	margin-left: 1rem;
}

.btn .btn-primary:focus,
.btn .btn-primary:active {
	outline: none !important;
}

.card-text {
	font-family: "Trebuchet MS", Helvetica, sans-serif;
	color: #e8e4e1;
	margin-right: 0.5rem;
}

.card-text a {
	font-family: "Trebuchet MS", Helvetica, sans-serif;
	color: #1b6ca8;
}

a:hover {
	text-decoration: none !important;
	color: inherit;
}

.error-label {
	font-size: small !important;
}

/* ------------------------------------------------------- */

/* Todolist Page */

.create-button-container {
	display: flex;
	align-items: center;
	justify-content: center;
	padding-top: 6rem;
	margin-left: 6rem;
	margin-right: 6rem;
}

.sortOpen {
	margin-bottom: 7rem;
}

.create {
	background-color: var(--clr-darkerBlue) !important;
	color: white !important;
	display: flex;
	align-items: flex-start;
	justify-content: center;
	flex-grow: 1 !important;
	flex-basis: 0;
}

.create-button-container span {
	flex-grow: 150;
	flex-basis: 0;
}

.todo-controls {
	display: flex;
	flex-grow: 1;
	flex-basis: 0;
}

.todo-sort-dropdown {
	margin-right: 2rem !important;
	border-radius: 1rem !important;
	width: 12rem !important;
	text-align: center;
}

.note-popup-background {
	width: 100%;
	height: 100%;
	background-size: cover;
	background-color: rgba(0, 0, 0, 0.7) !important;
	position: absolute;
	top: 0;
	display: flex;
	justify-content: center;
	z-index: 999;
	overflow: hidden;
	position: fixed;
}

[type="date"]::-webkit-calendar-picker-indicator {
	display: none;
}

.note-form {
	box-shadow: none !important;
	width: 40rem !important;
	text-align: left !important;
	border-radius: 1rem !important;
	top: 10rem;
}

.note-form .card-body {
	width: 38rem;
}

.note-select {
	margin-bottom: 2rem !important;
}

.select-open {
	margin-bottom: 10rem !important;
}

.noteHide {
	display: none;
}

.note-title {
	font-family: var(--ff-formText);
	font-size: 1.5rem;
	text-align: center;
	color: var(--clr-darkerBlue);
}

.login-warning {
	text-align: center;
	margin-bottom: 1rem;
}

.login-warning-wrapper {
	text-align: center;
	padding: 1rem;
}

.register-success {
	text-align: center;
	margin-bottom: 1rem;
}

.register-success-wrapper {
	text-align: center;
	padding: 1rem;
}

.form-label {
	color: var(--clr-lightBlue) !important;
	font-weight: 500 !important;
	font-size: 1.1rem;
}

.importance-buttons-group {
	padding-bottom: 1rem;
}

.importance-button-select {
	background-color: var(--clr-darkerBlue) !important;
	color: white !important;
}

.importance-button:hover {
	background-color: #e0e1e2 !important;
}

/* ------------------------------------------------------- */

/* Card */
.card-wrapper {
	display: flex;
	align-items: center;
	flex-direction: column;
	align-content: center;
	padding: 2rem;
}

.card {
	width: 20rem;
	background-color: white !important;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	margin: 1rem 0;
	text-align: center;
	box-shadow: 0.5rem 0.5rem 0.3rem rgba(0, 0, 0, 0.2);
}

.card .card-img {
	width: 100%;
	height: 24rem;
	object-fit: cover;
	clip-path: polygon(0 0, 100% 0, 100% 20%, 0 50%);
	background-color: var(--clr-undoRed);
}

.card-complete {
	background-color: var(--clr-doneBlue) !important;
}

.profile-img {
	width: 10rem;
	height: 10rem;
	object-fit: cover;
	margin-top: -20.5rem;
	z-index: 999;
	border-radius: 50%;
	border: 1.1rem solid white;
}

.card h1 {
	font-size: 2rem;
	font-family: var(--ff-noteText);
	color: #333;
	margin: 0.5rem auto;
	font-weight: 500;
}

.card-importance {
	position: absolute;
	top: 1.5rem;
	left: 2rem;
	font-family: Impact, Charcoal, sans-serif;
	font-size: 3rem;
	color: var(--clr-importanceRed);
}

.card-importance-complete {
	color: var(--clr-importanceBlue);
}

.card-date {
	color: #777;
	font-family: var(--ff-noteText);
	font-weight: 400;
}

.card-check {
	top: 2rem;
	right: 2rem;
	position: absolute;
}

.fa-check {
	color: white;
}

.flip-button {
	margin: 1rem auto !important;
	font-family: var(--ff-noteText) !important;
	text-transform: uppercase !important;
	font-weight: 400 !important;
	letter-spacing: 0.1rem;
}

.card-options {
	width: 100%;
	list-style: none;
	display: flex;
	justify-content: space-evenly;
	padding: 1rem 0;
	margin-top: 1rem;
	border-top: 1px solid rgba(0, 0, 0, 0.1);
}

.card-options li {
	cursor: pointer;
	width: 1rem !important;
}

.fa-trash {
	color: #ff5757;
}

.fa-clipboard-check {
	color: #2485cf;
}

.fa-chevron-down {
	cursor: pointer;
	color: var(--clr-undoRed);
}

.card-arrow-complete {
	color: var(--clr-doneBlue) !important;
}

.fa-chevron-up {
	cursor: pointer;
	color: var(--clr-undoRed);
}

.description-open {
	margin-top: 2rem;
	transition: 0.5s;
}

.description-close {
	margin-top: -2rem;
	transition: 0.5s;
}

.card-description-show {
	opacity: 1;
}

.card-description-hide {
	opacity: 0;
}

.card-description-show,
.card-description-hide {
	transition: opacity 0.4s;
}

@media screen and (min-width: 60rem) {
	.card-wrapper {
		flex-direction: row;
		flex-wrap: wrap;
		justify-content: flex-start;
		align-items: flex-start;
	}

	.card {
		margin: 2rem;
	}
}

/* ------------------------------------------------------- */

/* timeline page */
.timeline {
	font-family: var(--ff-formText);
	position: relative;
	margin: 3rem auto;
	width: 40rem;
	font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

/* timeline's vertical line */
.timeline:before {
	content: "";
	width: 2px;
	height: 100%;
	background: #ebeaea;
	left: 50%;
	top: 0;
	position: absolute;
}

.timeline:after {
	content: "";
	clear: both;
	display: table;
	width: 100%;
}

.timeline-card-right {
	float: right;
}

/* ------------------------------------------------------- */

/* timeline card */
.timeline-card-left,
.timeline-card-right {
	position: relative;
	width: 17rem;
	padding-top: 2rem;
	clear: both;
}

.timeline-card-left {
	text-align: right;
}

.timeline-card-right {
	text-align: left;
}

.timeline-card-header {
	position: relative;
	height: 3.5rem;
	background-color: black;
	color: #fff;
	background-color: var(--clr-undoRed);
	border-top-left-radius: 0.5rem;
	border-top-right-radius: 0.5rem;
}

.card-left p,
.card-right p {
	font-size: 1.5rem;
	font-weight: 500 !important;
	padding: 1rem !important;
}

.card-left::after,
.card-right::after {
	content: " ";
	position: absolute;
	top: 1rem;
	border-top: 0.7rem solid transparent;
	border-bottom: 0.7rem solid transparent;
}

.card-left::after {
	right: -0.5rem;
	border-right: none;
	border-left: 0.7rem solid var(--clr-undoRed);
}

.card-right::after {
	left: -0.5rem;
	border-right: 0.7rem solid var(--clr-undoRed);
	border-left: none;
}

.timeline-card-description {
	background-color: #fbfbfb;
	box-shadow: 0 3px 0 rgba(0, 0, 0, 0.1);
	padding: 1rem;
	padding-bottom: 2rem;
	border-bottom-left-radius: 0.5rem;
	border-bottom-right-radius: 0.5rem;
	letter-spacing: 0.05rem;
}

.timeline-button-right,
.timeline-button-left {
	position: absolute;
	background-color: var(--clr-undoRed);
	color: white;
	height: 2.5rem;
	width: 2.5rem;
	border-radius: 50% !important;
	text-align: center;
	top: 2.3rem;
}

.timeline-card-left .timeline-button-left {
	right: -4.3rem;
	padding-top: 0.5rem;
}

.timeline-card-right .timeline-button-right {
	left: -4.2rem;
	padding-top: 0.49rem;
}

.timeline-card-left .time,
.timeline-card-right .time {
	padding: 0.5rem 1.5rem;
	background-color: var(--clr-undoRed);
	position: absolute;
	border-radius: 2rem;
	color: white;
	box-shadow: 0 0 0 3px rgba(233, 33, 99, 0.3);
}

.timeline-card-left .time p,
.timeline-card-right .time p {
	font-size: 1.1rem !important;
	font-weight: 501;
}

.timeline-card-left .time {
	top: 2.4rem;
	right: -15rem;
}

.timeline-card-right .time {
	top: 2.3rem;
	left: -15rem;
}

.timeline-card-complete .timeline-card-header {
	background-color: var(--clr-doneBlue);
}

.timeline-card-complete .card-right::after {
	border-right: 0.7rem solid var(--clr-doneBlue);
}

.timeline-card-complete .card-left::after {
	border-left: 0.7rem solid var(--clr-doneBlue);
}

.timeline-card-complete .timeline-button-right,
.timeline-card-complete .timeline-button-left {
	background-color: var(--clr-doneBlue) !important;
}

.timeline-card-left .time-complete,
.timeline-card-right .time-complete {
	background-color: var(--clr-doneBlue);
	box-shadow: 0 0 0 3px rgba(99, 132, 241, 0.3);
}
